services:
  backend:
    build: .
    image: chat-app-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: on-failure  
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27018:27017"
